html {
  height: 100vh;
}
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
#root {
  height: 100%;
  width: 100%;
}
#app {
  background-color: #f8f8f9;
  height: 100%;
}
